.addBtn-cnt {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.addBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: rgb(198, 225, 248);
}
