.addBtn-cnt {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 10%;
  bottom: 10%;
}

.addBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(198, 225, 248);
  color: hsl(197, 94%, 53%);
  /* background-color: rgb(198, 225, 248); */
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .addBtn-cnt {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    position: fixed;
    right: 7%;
    bottom: 12%;
  }
}
