@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.userList-noData-msg-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.noData-msg {
  font-size: 55px;
  color: rgb(180, 218, 252);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 900;
}
