@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.mainPage-cnt {
  display: flex;
  justify-content: space-around;
  background-color: rgb(221, 235, 235);
  height: 100vh;
  align-items: center;
}

.mainPage-txt-area {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  gap: 50px;
  padding-left: 5px;
}

.mainPage-header {
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
}

.mainPage-para {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.mainPage-img {
  width: 600px;
}

.mainPage-btn {
  border: none;
  width: 190px;
  height: 55px;
  border-radius: 70px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(14, 101, 178);
}

.mainPage-btn:hover {
  border: 1px solid rgb(119, 206, 249);
  font-weight: 800;
}

.mainPage-btn:focus {
  color: black;
  border: none;
  background-color: rgb(9, 126, 146);
}
