@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Epilogue&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.nav-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.nav-txt {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: hsl(197, 94%, 53%);
}

.nav-search-bar {
  width: 280px;
  height: 52px;
  border: none;
  border-radius: 70px;
  padding-left: 25px;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  border: 0.8px solid hsl(197, 95%, 67%);
  color: hsl(235, 18%, 26%);
}

@media screen and (max-width: 800px) {
  .nav-cnt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    padding-top: 25px;
    padding-right: 10%;
  }
}
